<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>halo ts</title>
    <style>
        #gameContext {
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <%= htmlWebpackPlugin.options.title %>

        <canvas id="gameContext" width="480" height="320"></canvas>
        <%= require('./sw.ejs')({serviceWorker: htmlWebpackPlugin.options.serviceWorker}) %>
</body>


</html>